<% include partials/header %>
<h1>About Us</h1>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis provident inventore id! Nisi, rem autem? Temporibus harum dolore quo earum!</p>

<% include partials/footer %>